{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student-Login</title>
    <link rel="stylesheet" href="{% static 'stud_login.css' %}">
    {% comment %} <link rel="stylesheet" href="stud_login.css"> {% endcomment %}

    <script src="inst_login.js"></script>
</head>
<body>

    <header>
        {% comment %} <img id="logo-left" src="logo.png" alt="Left Logo"> {% endcomment %}
        <img id="logo-left" src="{% static 'logo.png' %}" id="logo-left">
        <img id="logo-right"   src="{% static 'mortar_head.jpeg' %}" alt="Right Logo">
    </header>

    {% block start %}
    {% endblock start %}
    

    <footer>
        <p>&copy; 2023 | Scholar Connect</p>
    </footer>

</body>
</html>
